.prdtgrid{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.product{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    height: auto;
    border: 1px solid black;
}
.product img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.product h4{
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 2px;
}
.sale{
    position: absolute;
    top: 30px;
    right: 20px;
    margin-top: -10px;
    background-color: red;
    border-radius: 50%;
}
.apibtn{
    width: 200px;
    height: 30px;
    cursor: pointer;
    background-color: coral;

}